body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ececec;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list-container {
  overflow-y: auto;
  height: calc(100vh - 61px);
}
.product-container {
  margin: 12px;
}
.product-container, .front, .back {
  height: 200px;
  width: 200px;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  -webkit-perspective: 1000;
  perspective: 1000;
}

.product-container .name {
  font-size: 1em;
  color:white;
  letter-spacing: 2px;
  text-transform: lowercase;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  padding: 12px 0;
}
.product-container .back .name {
  color:grey;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  box-shadow: 2px 4px 6px 0 rgba(0,0,0,0.2);
	top: 0;
	left: 0;
}
.flipper {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}

.front {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #68e157;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-container:hover .flipper, .product-container.open .flipper {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.search-input {
  padding: 10px 30px;
  background-color: #68e157;
}
.search-input input {
  width: 60vw;
  padding: 11px;
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: 2px 4px 6px 0 rgba(0,0,0,0.1);
}
.btn-container {
  position: absolute;
  bottom: 20px;
  left: 26px;
}
.btn {
  color:white;
  background-color:#68e157;
  display: inline-flex;
  padding: 10px;
  border-radius: 50%;
  height: 62px;
  width: 62px;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  line-height: 1.2;
  cursor: pointer;
  box-shadow: 2px 4px 6px 0 rgba(0,0,0,0.1);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.btn.hide {
  color: grey;
  background-color: white;
}
.main-container {
  display: block;
  flex-wrap: wrap;
  width: 100%;
  transition: width 0.8s;
  height: 100vh;
}
.main-container.showPanel {
  width: calc(100% - 440px);
  display: block;
}
.panel-aside {
  background-color: #E7FFD9;
  height: 100vh;
  width: 0;
  right: 0;
  top: 0;
  transition: width 0.8s;
  -webkit-transition: width 0.8s;
  position: absolute;
}
.panel-aside.show {
  width: 440px;
}
.panel-aside:not(.show) .panel-container {
  /* display: none; */
  opacity: 0;
}
.panel-aside.show .panel-container {
  transition: opacity 0.8s ease;
  transition-delay: 0.5s;
  opacity: 1;
}
.panel-aside .product-image-container {
  width: 100px;
  height: 100px;
  display: inline-block;
}
.panel-aside .product-image-container img {
  width: 100%;
  height: 100%;
}
.authors {
  margin: 50px;
}
.authors p {
  color: #a4a4a4;
}
.authors p a {
  color: inherit;
  text-decoration: none;
}
.authors p a:hover {
  color: grey;
}